.blog {
    padding-bottom: 50px;
    padding-top: 31px;
}
.pageContainer {
    max-width: 856px;
    margin: 0 auto;
}
.container {

}
.blogTitle {
    margin-bottom: 50px;
}
.title {
    font-size: 44px;
    font-weight: 700;
    color: #21243d;
    line-height: 136.3636363636%;
}
.blogItems {

}



