.menuLink {
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: "Heebo";
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    margin-right: 33px;
}
.menuList {
    display: flex;
}
.menuBody {

}