.footer {
    text-align: center;
}
.footerContent {
}
.container {
    max-width: 856px;
    margin: 0 auto;
}
.footerSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}
.social {
}
.socialItem {
    transition: opacity 0.3s ease 0s;
    margin: 0 17px;
    padding: 0 5px;
    font-size: 30px;
    color: inherit;
}
.footerCopy {
    margin-bottom: 20px;
}