.recentPostsHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}
.recentPostsTitle {

    padding-right: 20px;
    flex: 1 1 auto;
}
.titlePosts {
    font-size: 22px;
}
.recentPostsViewAll {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 23px;
    color: #00a8cc;
    transition: all 0.3s ease 0s;
}
.recentPostsViewAll:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.11);
}