
body {
    color: #21243d;
    font-size: 14px;
}

.wrapper {
    font-family: "Heebo";
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}
