.helloContent {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 18px 110px 0 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.helloTitle {
    font-size: 44px;
    font-weight: 700;
    color: #21243d;
    line-height: 136.3636363636%;
    margin-bottom: 25px;
}
.title {

}
.helloText {

}
.helloText {
    font-size: 16px;
    line-height: 143.75%;
    color: #21243d;
    margin-bottom: 35px;
}
.text {

}
.helloBtn {

    background-color: #bb4949;
    margin-bottom: 25px;
}
.btn {
    background: #ff6464;
    border-radius: 2px;
    height: 47px;
    color: #fff;
    font-weight: 500;
    line-height: 145%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    transition: background-color 0.3s ease 0s;
}
